* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  /* variable-font */
  --font-variable-minViewportPx-default: 360;
  --font-variable-maxViewportPx-default: 1000;
  --font-variable-remBase: 16;

  /* color */
  --primary: #2d445d;
  --black: #333;
  --white: #fff;

  /* font */
  --ff-base: sans-serif;
  --fz-base: 1rem;
  --lh-base: normal;
  --fw-base: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

body {
  font-family: var(--ff-base);
  font-size: var(--fz-base);
  font-weight: var(--fw-base);
  line-height: var(--lh-base);
  color: var(--black);
  overflow-x: hidden;
}

button {
  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--primary);
    outline-offset: 1px;
  }
}

.aside {
  position: relative;
}

.toggleButton {
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  inline-size: fit-content;
  padding-block: 0.5em;
  padding-inline: 1em;
  border-radius: 10px;
  border: 2px solid var(--primary);
  font-size: 0.875rem;
  font-weight: var(--fw-bold);
  letter-spacing: 0.2dvh;
  color: var(--white);
  background: var(--primary);
  cursor: pointer;
  transition: all 0.3s ease;
  user-select: none;
  touch-action: manipulation;
  z-index: 999;
}

.toggleButton.open {
  background: var(--white);
  color: var(--primary);
}

.App {
  display: grid;
  grid-template-columns: 20%, 1fr;
}

.main {
  width: 100%;
  height: 100dvh;
  display: grid;
  place-content: center;
  text-align: center;
}

.button {
  display: inline-block;
  inline-size: fit-content;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  background-color: var(--black);
  border-radius: calc(infinity * 1px);
  color: var(--white);
  user-select: none;
  touch-action: manipulation;
}
